* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  .fundo {
    background: #F5F5F5;
    overflow-y: hidden;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .row {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
  }
  
  .div-right {
    border-style: none;
    height: 100vh;
    width: 50%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .div-right-int {
    height: 100vh;
    width: 95%;
    max-width: 95%;
  }
  
  .div-right-logo {
    height: 150px;
    margin-bottom: 50px;
    background: url("../../assets/img/rprice_logo_280_150.png") center / contain no-repeat;
    width: 280px;
  }
  
  .div-right-input {
    height: 44px;
    width: 280px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .div-logo {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: url("../../assets/img/rprice_logo_280_150.png") center / contain no-repeat;
    width: 280px;
  }
  
  .div-right-input {
    height: 44px;
    width: 280px;
    background: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: white;
  }

  form {
    width: 100%;
  }

  .form-label {
    width: 30%;
    justify-content: center;
    padding-top: 5px;
  }

  .div-button {
    gap: 10px;
  }

  h5 {
    margin-bottom: 40px;
  }
  
  .tamanho {
    width: 100%;
  }
  
  td, th {
    font-size: 12px;
    text-align: center;
  }

  .table_tam {
    width: 85px;
  }

  .table_tam2 {
    width: 80px;
  }

  .table-container {
    width: 95%;
    max-height: 400px; /* Defina a altura máxima desejada */
    overflow-y: auto;
}