{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pesquisa Colaboradores</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/edicao.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script>
      const cargosUrl = "{% url 'cargos_vieww' %}";
      const enderecoUrl = "{% url 'endereco_view' %}";
    </script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_index.js' %}"></script>
    <script defer src="{% static 'assets/js/script_edicao.js' %}"></script>
</head>
    <body class="fundo">
        <div class="container pl-0 pr-0">
          <div class="row justify-content-center pl-0 pr-0 no-gutters">
            <div class="div-column">
              <div class="d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center div-right-int">
                <div class="div-logo"></div>
                <form method="post" action="{% url 'editar_endereco' endereco.id %}" id="editar-form-endereco">
                    {% csrf_token %}
                    <div class="endereco-container">  
                        <div class="mb-3 d-flex flex-row">
                            <label for="cep" class="form-label"><b>CEP</b></label>
                            <input type="text" class="form-control" id="cep" name="cep" value="{{ endereco.cep }}" required disabled>
                        </div>          
                        <div class="mb-3 d-flex flex-row">
                            <label for="logradouro" class="form-label"><b>Logradouro</b></label>
                            <input type="text" class="form-control" id="logradouro" name="logradouro" value="{{ endereco.logradouro }}" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="numero" class="form-label"><b>Número</b></label>
                          <input type="text" class="form-control" id="numero" name="numero" value="{{ endereco.numero }}" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="complemento" class="form-label"><b>Complemento</b></label>
                          <input type="text" class="form-control" id="complemento" name="complemento" value="{{ endereco.complemento }}" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="bairro" class="form-label"><b>Bairro</b></label>
                          <input type="text" class="form-control" id="bairro" name="bairro" value="{{ endereco.bairro }}" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="cidade" class="form-label"><b>Cidade</b></label>
                          <input type="text" class="form-control" id="cidade" name="cidade" value="{{ endereco.cidade }}" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="estado" class="form-label"><b>UF</b></label>
                          <input type="text" class="form-control" id="estado" name="estado" value="{{ endereco.estado }}" required>
                        </div>

                    </div>
                    <div class="d-flex flex-row justify-content-center div-button">
                        <button type="button" class="btn btn-success" id="alterar-btnen">Alterar Colaborador</button>
                        <button type="button" class="btn btn-danger"><a href="/dashboard/">Cancelar</a></button>
                    </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>