{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Resultado do Cálculo de Gastos Fixos</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/edicao.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_edicao.js' %}"></script>
</head>
<body class="fundo">
    <div class="container pl-0 pr-0">
        <div class="row justify-content-center pl-0 pr-0 no-gutters">
            <div class="div-column">
                <div class="d-flex flex-column justify-content-between align-items-center">
                    <div class="d-flex flex-column align-items-center div-right-int">
                        <div class="div-logo"></div>
                        <h1>Resultado do Cálculo de Gastos Fixos</h1>
                        <p>Mês: {{ mes }}</p>
                        <p>Ano: {{ ano }}</p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Descrição</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for gasto in gastosfixos %}
                                <tr>
                                    <td>{{ gasto.descricao }}</td>
                                    <td>R$ {{ gasto.valor }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p>Total dos Gastos Fixos: R$ {{ total }}</p>
                        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Voltar para o Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
