{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pesquisa Cargos</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/edicao.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_edicao.js' %}"></script>
</head>
    <body class="fundo">
        <div class="container pl-0 pr-0">
          <div class="row justify-content-center pl-0 pr-0 no-gutters">
            <div class="div-column">
              <div class="d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center div-right-int">
                <div class="div-logo"></div>
                <form method="post" action="{% url 'editar_cargo' cargo.id %}" id="editar-form-cargo">
                    {% csrf_token %}
                    <div class="cargo-container">            
                        <div class="mb-3 d-flex flex-row">
                            <label for="nome_cargo" class="form-label"><b>Nome Cargo</b></label>
                            <input type="text" class="form-control" id="nome_cargo" name="nome_cargo" value="{{ cargo.nome_cargo }}" required>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center div-button">
                        <button type="button" class="btn btn-success" id="alterar-btn">Alterar Cargo</button>
                        <button type="button" class="btn btn-danger"><a href="/dashboard/">Cancelar</a></button>
                    </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>