{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pesquisa Orçamento</title>
    <link rel="stylesheet" href="{% static 'assets/css/tabelas.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_tabelas.js' %}"></script>
    <script defer src="{% static 'assets/js/delete.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .centered-chart {
            display: block; /* Certifique-se de que o elemento seja exibido como bloco */
            margin: 0 auto; /* Isso centralizará horizontalmente o elemento */
            max-width: 100%; /* Defina a largura máxima desejada */
        }
        .centered-text {
            text-align: center;
            color: red; /* Cor de destaque (você pode substituir "red" pela cor desejada) */
            font-size: 24px; /* Tamanho da fonte aumentado (você pode ajustar o valor conforme necessário) */
        }
        
        
    </style>
</head>
<body>
    <div class="container">
        <p class="centered-text">Orçamento</p>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Impostos</th>
                    <th>Lucro</th>
                    <th>Valor Sugerido</th>
                    <th>Custo Hora</th>
                    <th>Status</th>
                    <th>Descrição Despesa Adicional</th>
                    <th>Valor Despesa Adicional</th>
                </tr>
            </thead>
            <tbody>
                {% for orcamento_item in orcamento %}
                    <tr>
                        <td>{{ orcamento_item.tributos }}%</td>
                        <td>{{ orcamento_item.lucros }}%</td>
                        <td>{{ orcamento_item.valor_sugerido }}</td>
                        <td>{{ orcamento_item.custo_hora }}</td>
                        <td>{{ orcamento_item.status }}</td>
                        <td>{{ orcamento_item.descricao_despesa }}</td>
                        <td>{{ orcamento_item.valor_despesa }}</td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="centered-chart" style="width: 400px; height: 400px;">
            <canvas id="myPieChart"></canvas>
        </div>
    </div>
    <script>
        var ctx = document.getElementById('myPieChart').getContext('2d');
    
        var data = {
            labels: ['Impostos', 'Lucro'],
            datasets: [{
                data: [
                    {% for orcamento_item in orcamento %}{{ orcamento_item.tributos }}, {% endfor %}, // Valores de Impostos
                    {% for orcamento_item in orcamento %}{{ orcamento_item.lucros }}, {% endfor %}    // Valores de Lucro
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.6)', // Cor para Impostos
                    'rgba(75, 192, 192, 0.6)' // Cor para Lucro
                ]
            }]
        };
    
        // Defina cores personalizadas para cada fatia do gráfico
        for (var i = 0; i < data.datasets[0].data.length; i++) {
            if (i === 0) {
                data.datasets[0].backgroundColor[i] = 'rgba(255, 99, 132, 0.6)'; // Cor para Impostos
            } else {
                data.datasets[0].backgroundColor[i] = 'rgba(75, 192, 192, 0.6)'; // Cor para Lucro
            }
        }
    
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                title: {
                    display: true,
                    text: 'Impostos vs. Lucro'
                }
            }
        });
    </script>
    
    

</body>
</html>
