{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Novo Orçamento</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/edicao.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script>
      const cargosUrl = "{% url 'cargos_vieww' %}";
      const enderecoUrl = "{% url 'endereco_view' %}";
    </script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_index.js' %}"></script>
    <script defer src="{% static 'assets/js/script_edicao.js' %}"></script>
</head>
    <body class="fundo">
        <div class="container pl-0 pr-0">
          <div class="row justify-content-center pl-0 pr-0 no-gutters">
            <div class="div-column">
              <div class="d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center div-right-int">
                <div class="div-logo"></div>
                <form method="post" action="" id="novo-form-orcamento">
                    {% csrf_token %}
                    <div class="orcamento-container">  
                        <div class="mb-3 d-flex flex-row">
                            <label for="orcamento_id" class="form-label"><b>Identificador</b></label>
                            <input type="text" class="form-control" id="orcamento_id" name="orcamento_id" value="{{ numero_novo_orcamento }}" required disabled>
                        </div>    
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCapacidadeProd" class="form-label"><b>Capacidade Produtiva (Prestadores)</b></label>
                          <input type="text" class="form-control" id="orcamentoCapacidadeProd" name="orcamentoCapacidadeProd" value="{{ total_prestadores }}" required disabled>
                        </div>      
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCustoHora" class="form-label"><b>Custo Hora</b></label>
                          <input type="text" class="form-control" id="orcamentoCustoHora" name="orcamentoCustoHora" value="{{ custo_total }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoBeneficios" class="form-label"><b>Benefícios</b></label>
                          <input type="text" class="form-control" id="orcamentoBeneficios" name="orcamentoBeneficios" value="{{ total }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="estado" class="form-label"><b>TESTE</b></label>
                          <input type="text" class="form-control" id="estado" name="estado" value="" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="estado" class="form-label"><b>Condomínio (Fixo)</b></label>
                          <input type="text" class="form-control" id="estado" name="estado" value="{{ custo_condominio }}" required disabled>
                        </div>

                    </div>
                    <div class="d-flex flex-row justify-content-center div-button">
                        <button type="button" class="btn btn-success" id="alterar-btnorc">Salvar</button>
                        <button type="button" class="btn btn-danger"><a href="/dashboard/">Cancelar</a></button>
                        <button type="button" class="btn btn-primary" id="">Finalizar</button>
                    </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>