{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Novo Orçamento</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/orcamento.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const cargosUrl = "{% url 'cargos_vieww' %}";
      {% comment %} const despesasDinamicasUrl = "{% url 'salvar_input_dinamico' %}"; {% endcomment %}
    </script>
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_orcamento.js' %}"></script>
</head>
    <body class="fundo">
        <div class="container pl-0 pr-0">
          <div class="row justify-content-center pl-0 pr-0 no-gutters">
            <div class="div-column">
              <div class="d-flex flex-column justify-content-between align-items-center">
                <div class="d-flex flex-column align-items-center div-right-int">
                <div class="div-logo"></div>
                <div class="div-orcamento">
                <form method="post" action="" id="novo-form-orcamento">
                    {% csrf_token %}
                    <div class="orcamento-container">  
                        <div class="mb-3 d-flex flex-row">
                            <label for="orcamento_id" class="form-label label-orcamento"><b>Identificador</b></label>
                            <input type="text" class="form-control input-orcamento" id="orcamento_id" name="orcamento_id" value="{{ numero_novo_orcamento }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCliente" class="form-label label-orcamento"><b>Cliente</b></label>
                          <input type="text" class="form-control input-orcamento" id="orcamentoCliente" name="orcamentoCliente" value="" required>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCapacidadeProd" class="form-label label-orcamento"><b>Capacidade Produtiva</b></label>
                          <input type="number" class="form-control input-orcamento" id="orcamentoCapacidadeProd" name="orcamentoCapacidadeProd" value="{{ capacidade_produtiva }}" required disabled>
                        </div>        
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoPrestadores" class="form-label label-orcamento"><b>Qtd. Prestadores</b></label>
                          <input type="number" class="form-control input-orcamento" id="orcamentoPrestadores" name="orcamentoPrestadores" value="{{ total_prestadores }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCustoHora" class="form-label label-orcamento"><b>Custo Hora</b></label>
                          <input type="text" class="form-control input-orcamento" id="orcamentoCustoHora" name="orcamentoCustoHora" value="{{ custo_total }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoBeneficios" class="form-label label-orcamento"><b>Benefícios</b></label>
                          <input type="text" class="form-control input-orcamento" id="orcamentoBeneficios" name="orcamentoBeneficios" value="{{ totalSoma }}" required disabled>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoCondominio" class="form-label label-orcamento"><b>Condomínio (Fixo)</b></label>
                          <input type="text" class="form-control input-orcamento" id="orcamentoCondominio" name="orcamentoCondominio" value="{{ custo_condominio }}" required disabled>
                        </div>
                        <div class="container mt-5">
                          <div class="d-flex flex-row justify-content-between"> 
                          <h2>Adicionar Despesas</h2>
                          <div class="form-group col-md-2">
                            <button type="button" class="btn btn-primary div-button-add" id="addInput">Adicionar +</button>
                          </div>
                          </div>
                          <div id="inputForm">
                              <div class="form-row d-flex flex-row justify-content-between align-items-start" style="gap: 10px">
                                  <div class="form-group col-md-6">
                                      <label for="descricao">Descrição:</label>
                                      <input type="text" class="form-control" id="descricaoOrcNovo" name="descricao[]" required>
                                  </div>
                                  <div class="form-group col-md-4">
                                      <label for="valor">Valor:</label>
                                      <input type="text" class="form-control valorOrcNovo" id="valorOrcNovo" name="valor[]" oninput="replaceCommaWithDot(this)" required>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <button type="button" class="btn btn-primary div-button-add" id="addInput" hidden>Adicionar +</button>
                                  </div>
                              </div>
                          </div>
                          <div class="total"><span id="total" style="display: none;">0.00</span></div>
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoOutros" class="form-label label-orcamento"><b>Outros ( % )</b></label>
                          <input type="number" class="form-control input-orcamento" id="orcamentoOutros" name="orcamentoOutros" value="" min="0" max="100" required step="0.01">
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoImpostos" class="form-label label-orcamento"><b>Impostos ( % )</b></label>
                          <input type="number" class="form-control input-orcamento" id="orcamentoImpostos" name="orcamentoImpostos" value="" min="1" max="100" required step="0.01">
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoLucro" class="form-label label-orcamento"><b>Lucro ( % )</b></label>
                          <input type="number" class="form-control input-orcamento" id="orcamentoLucro" name="orcamentoLucro" value="" min="1" max="100" required step="0.01">
                        </div>
                        <div class="mb-3 d-flex flex-row">
                          <label for="orcamentoSugerido" class="form-label label-orcamento"><b>Valor total Sugerido</b></label>
                          <span id="totalSugeridoDisplay" style="display: none;"></span>
                          <input type="number" class="form-control input-orcamento campo-verde" id="orcamentoSugerido" name="totalSugerido" value="" required step="0.01" readonly>
                        </div>

                    </div>
                    <div class="d-flex flex-row justify-content-center div-button">
                      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Voltar para o Dashboard</a>
                        <button type="submit" class="btn btn-success" id="alterar-btnorc">Salvar</button>
                    </div>
                </form>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          function substituirVirgulaPorPonto() {
              var camposValor = document.querySelectorAll('[name^="valor_"]');
              camposValor.forEach(function (valorInput) {
                  var valor = valorInput.value.replace(',', '.');
                  valorInput.value = valor;
              });
          }

          window.addEventListener('load', substituirVirgulaPorPonto);
  
          function replaceCommaWithDot(input) {
            if (input.value.includes(',')) {
                input.value = input.value.replace(',', '.');
            }
        }  
         </script>
    </body>
</html>