{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pesquisa Vinculos</title>
    <link rel="stylesheet" href="{% static 'assets/css/tabelas.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script defer src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="{% static 'assets/js/script_tabelas.js' %}"></script>
    <script defer src="{% static 'assets/js/delete.js' %}"></script>
</head>
<body>
    <thead>    
        <tr>
            <th>Id</th>
            <th>Cargos</th>
            <th>Horas</th>
            <th>Quantidade</th>
            <th>Nº Orçamento</th>
            <th></th>
        </tr>
    </thead>    
    {% for vinculo in vinculo %}
        <tr>
            <td>{{ vinculo.id }}</td>
            <td>{{ vinculo.cargo.nome_cargo }}</td>
            <td>{{ vinculo.horas }}</td>
            <td>{{ vinculo.quantidade }}</td>
            <td>{{ vinculo.orcamento_id }}</td>
            <td>
                <a href="{% url 'deletar_vinculo' vinculo.id %}">
                    <i class="bi bi-trash-fill delete-icon"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</body>
</html>